<p id="notice"><%= notice %></p>

<h1>Documents</h1>

<br />

<%= link_to 'New Document', new_document_path, class: 'btn btn-default btn-lg' %>

<br />
<br />

<table class="table table-bordered table-striped documents">
  <thead>
    <tr>
      <th>External ID</th>
      <th>Source</th>
      <th>Finished import</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr class="<%= document.erroneous ? 'erroneous' : '' %>">
        <td><%= document.external_id %></td>
        <td><%= document.source %></td>
        <td><%= document.imported %></td>
        <td><%= link_to 'Show', document %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
