<p id="notice"><%= notice %></p>

<p>
  <strong>External:</strong>
  <%= @document.external_id %>
</p>

<p>
  <strong>Source:</strong>
  <%= @document.source %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
