<!DOCTYPE html>
<html>
<head>
  <title>SNPR</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_pack_tag 'application' %>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>

<body>

<% if @set_sources %>
  <script>
      window.sources = <%= sanitize Source.all.to_json %>;
  </script>
<% end %>

<div id="wrapper">
  <div id="menu-wrapper">
    <div id="menu" class="container">
      <ul>
        <%= menu_item 'Home', '/' %>
        <%= menu_item 'Documents', documents_path %>
        <%= menu_item 'Sources', sources_path %>

        <% if user_signed_in? %>
          <%= menu_item 'Sign out', destroy_user_session_path, method: :delete %>
          <% else %>
          <%= menu_item 'Sign in', new_user_session_path %>
        <% end %>
      </ul>
    </div>

  </div>

  <% if content_for?(:white) %>
    <div class="white">
      <div class="container">
        <%= yield :white %>
      </div>
    </div>
  <% end %>

  <div id="page" class="container">
    <div id="content">
      <%= yield %>
    </div>
  </div>
</div>

<footer id="footer"></footer>

</body>
</html>
